html {
    font-family: "nobile";
    font-size: 15px;
    background-color: rgb(255, 227, 194);
}

@font-face {
    font-family: "nobile";
    src: url("nobile/Nobile-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

p, li {
    line-height: 1.6;
}





.header {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 5px;
}

.title {
    font-size: 24px;
    margin: 0;
}

.nav ul {
    list-style: none;
    margin: 5px;
    margin-bottom: 15px;
    padding: 1rem;
    display: flex;
    gap: 20px;
    background-color: #ffd16d;
}

.nav li :hover {
    background-color: #ffba52;
    padding: 5px;
    border-radius: 0.4rem;
}

.nav li a.active {
    background-color: #ffa41c;
    padding: 5px;
    border-radius: 0.4rem;
}





.content {
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(255, 246, 231);
    border-radius: 0.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
    margin-top: 15px;
}

.content img {
    max-width: 100%;
    height: auto;
}

.button {
    background-color: #ffd16d;
    padding: 5px;
    border-radius: 0.4rem;
}

.button:hover {
    background-color: #ffba52;
    padding: 5px;
    border-radius: 0.4rem;
}

.mittig {
    height: 800px;
    height: auto;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.links {
    height: 400px;
    height: auto;
    width: 600px;
    max-width: 100%;
}








table{
    border-collapse: collapse;
    overflow: hidden;
    table-layout: fixed;
}

th, td {
    width: 25px;
    height: 20px;
    border: 3px solid rgb(255, 246, 231);
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.day {
    background-color: #ffd16d;
    border-radius: 0.5rem;
}

.day:hover {
    background-color: #ffba52;
}





.bottom {
    box-sizing: content-box;
    background-color: #ffd16d;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 5px;
    margin-top: 15px;
}

.bottom li {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    flex-direction: column;
    color: black;
    text-align: center;
}

.bottom li a.active {
    background-color: #ffa41c;
    padding: 4px;
    border-radius: 0.4rem;
}

.bottom li :hover {
    background-color: #ffba52;
    padding: 5px;
    border-radius: 0.4rem;
}


.nostyle {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

